* {
    font-size: 20px;
}

.sideBySide1 {
    float: left;
    width: 50%;
    border-right: solid 4px black;
    overflow: hidden;
}

.sideBySide2 {
    margin-left: 51%;
    overflow: hidden;
}

#name {
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}

hr {
    height: 5px;
    background: black;
}

.title {
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

#educations {
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    margin-top: 20px;
}