* {
    background-color: black;
    color: white;
    font-family: "Lucida Handwriting", cursive;
}

#topBarRight {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

#topBarRight>* {
    padding-left: 10px;
}

#contact span {
    font-size: x-large;
}

#contact div {
    display: none;
}

#contact span:hover {
    color: cyan;
}

#contact:hover div {
    display: block;
    position: absolute;
    right: 0;
    background-color: black;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 20px;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
}
