/*targets the pseudo-element ::after of elements with the class .container. the ::after pseudo-element is commonly used to insert content after the content of an element*/
.container::after {
    content: ""; /*specifies what content should be inserted after the element's content*/
    display: table; /*specifies the type of display for the pseudo-element. using display: table; is a common trick to trigger block formatting context, which helps contain floats*/
    clear: both; /*specifies whether an element should be moved below (cleared) floating elements that precede it. by setting it to both, the pseudo-element clears both left and right floats*/
}

* {
    font-size: 20px;
}

.sideBySide1 {
    float: left;
    width: 50%;
    border-right: solid 4px black;
    overflow: hidden;
}

.sideBySide2 {
    margin-left: 51%;
    overflow: hidden;
}

#name {
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}

hr {
    height: 5px;
    background: black;
}

.title {
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

#educations {
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    margin-top: 20px;
}